head, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #f7f7f7;
    font-family: "Noto Sans", Arial, sans-serif;

}

.headWorkingField {
    width: 100%;
    min-height: 150px;
    margin-top: 0px;
    margin-bottom: 40px;
    display: flex;
    position: relative;
    align-items: center;
    background: white;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

@media screen and (max-width: 1000px) {
    .headWorkingField { justify-content: center; }
    .headerForm { justify-content: center; }
}


.headPosition {
    position: absolute;
    background: #ffffff;
}

.headerTitle {
    font-size: 34px;
    font-weight: 100;
    width: 300px;
    float: left;
    display: table-cell;
    vertical-align: middle;
    margin-top: 13px;
    margin-left: 50px;
}

.headerForm {
    display: flex;
    margin-right: 50px;
    flex-wrap: wrap;
}

.filterStyle {
    width: 250px;
    height: 55px;
    font-size: 12px;
    padding-left: 20px;
    border: none;
    border-bottom: 2px solid #aeaeae;
    margin-right: 20px;
    margin-bottom: 10px;
}

.buttonStyle {
    font-size: 14px;
    width: 200px;
    height: 45px;
    background: #8dd6f5;
    color: white;
    border: none;
    border-radius: 25px;
}

.allBooks {
    text-align: left;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.addButton {
    float: right;
}

.headerTitle {
    font-size: 34px;
    font-weight: 600;
}

.book {
    width: 25%;
    background: white;
    float: left;
    margin: 2%;
    padding: 2%;
    min-width: 300px;
}

.photo {
    height: 205px;
    width: 145px;
    border: 1px solid black;
    float: left;
}

.bookContent {
    margin-left: 55%;
}

#author, #style, #language, #year {
    color: #7e7e7e;
    font-size: 14px;
}

#name {
    font-size: 20px;
    font-weight: 700;
}

label {
    float: left;
    padding-right: 10px;
}

.blackout {
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.8;
    position: fixed;
    z-index: 15;
}

.modalWindow {
    background: #f2f2f2;
    height: auto;
    width: 680px;
    position: fixed;
    z-index: 100;
    opacity: 1;
    border-radius: 5px;
    padding: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modalNoVisible {
    display: none;
}

.modalVisible {
    display: block;
}

.modalHeader {
    background: white;
    height: 60px;
    width: 94%;

    font-size: 30px;
    margin-top: 0px;
    padding: 20px;
    display: table;
}

h3 {
    margin: 0px;
    display: table-cell;
    vertical-align: middle;
}

.closeModal {
    float: right;
    margin: 10px;
}

.photoModal {
    background: white;
    margin-right: 5%;
    margin-bottom: 6%;
}

.modalContent {
    margin: 5%;
}

#modalauthor, #modalstyle, #modallanguage, #modalyear, #modalname {
    margin-bottom: 1.8%;
    width: 200px;
}

.buttonDel {
    margin-left: 5%;
}

.editPage {
    width: 30px;
    height: 30px;
    opacity: 0.3;
    border-radius: 5px;
    float: right;
    background: white;
}

.editPage:hover {
    opacity: 0.7;
}

.editImage {
    display: block;
    margin: 5px auto;
    width: 65%;
    height: auto;
}

